
.features__wrapp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 100px;
    position: relative;
}


.features__img {
    width: 100%;
    max-width: 500px;
}

.features__right {
    width: 432px;
}

.feature__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.feature__link {
    display: flex;
    align-items: center;
    gap: 12px;
}

@media (max-width:900px) {
    .features__left {
        position: absolute;
        opacity: 0.4;
    }

    .features__right {
        z-index: 5;
    }
}